.body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  background-color: papayawhip;
  padding: 3px;
  margin: 100px 0 0 50px
  
  width: 750px;
  overflow: hidden;
  /*Alternate way to center everythign
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  
  Alternate way #2
  position: absolute;
  top: 35%;
  left: 38%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/


  /*text-align: center;*/
}

/*define fade in animation*/
@-webkit-keyframes fadi {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-moz-keyframes fadi {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-webkit-keyframes play_game {
    0%  {background-color: papayawhip}
    5%  {background-color: yellowgreen}
    75%  {background-color: gold}
    100%  {background-color: tomato}
}

@-moz-keyframes play_game {
    0%  {background-color: papayawhip}
    5%  {background-color: yellowgreen}
    75%  {background-color: gold}
    100%  {background-color: tomato}
}

.body.play {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 60s;
    -webkit-animation: play_game 60s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 60s;
    -moz-animation: play_game 60s;
    background-color: papayawhip;
}

/* SETTINGS */

@-webkit-keyframes filmin {
    from    { opacity: 0; }
    to      { opacity: .5; }
}

@-moz-keyframes filmin {
    from    { opacity: 0; }
    to      { opacity: .5; }
}

@-webkit-keyframes filmout {
    from    { opacity: .5; }
    to      { opacity: 0; }
}

@-moz-keyframes filmout {
    from    { opacity: .5; }
    to      { opacity: 0; }
}

.film {
    position: fixed;
    background-color: white;
    height:100%;
    width:100%;
    top: 0px;
    left: 0px;
    overflow:hidden;
    opacity: 0;
    z-index: -1;
}

.film.in {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
    -webkit-animation: filmin 1s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1s;
    -moz-animation: filmin 1s;
    opacity: .5;
    z-index: 1;
}

.film.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
    -webkit-animation: filmout 1s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1s;
    -moz-animation: filmout 1s;
}

.settings_head {
    margin: 3px 0px 10px 3px;
}

.settings_sub {
    margin: 5px 0px 5px 0px;
}

.settings_vals {
    margin: 0px 0px 0px 15px;
}

.volume {
    margin 0px 0px 0px 15px;
}

.difficulty {
    margin: 0px 0px 0px 15px;
}

.key_scale {
    margin: 0px 0px 0px 15px;
}

.okay_but {
    width: 90%;
}

.settings {
    position: fixed;
    font-size: 14px;
    width: 175px;
    height: 280px;
    background: burlywood;
    border-radius: 5px;
    border: 2px solid;
    box-shadow: 10px 10px 5px #888888;

    left: -webkit-calc(50% - 87px);
    left: -moz-calc(50% - 87px);
    top: -webkit-calc(50% - 140px);
    top: -moz-calc(50% - 140px);
    
    z-index: 2;
    
/*    To start out of screen    */
	-webkit-transform: rotate3d(1, 0, 1, 0deg) translateZ(0px) translateX(0px) translateY(-1500px);
    -moz-transform: rotate3d(1, 0, 1, 0deg) translateZ(0px) translateX(0px) translateY(-1500px);
}

.settings.in {
    -webkit-transition: -webkit-transform .75s ease-in-out;
    -webkit-transform: rotate3d(1, 0, 1, 0deg) translateZ(0px) translateX(0px) translateY(0px);
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: rotate3d(1, 0, 1, 0deg) translateZ(0px) translateX(0px) translateY(0px);
}

.settings.out {
    -webkit-transition: -webkit-transform .75s ease-in-out;
    -webkit-transform: rotate3d(1, 0, 1, 0deg) translateZ(0px) translateX(0px) translateY(-1500px);
    -moz-transition: -moz-transform .75s ease-in-out;
    -moz-transform: rotate3d(1, 0, 1, 0deg) translateZ(0px) translateX(0px) translateY(-1500px);
}

.settings_btn {
    position: fixed;
    top: 5px;
    right: 5px;
}

/* DIRECTIONS */
p.directions {
    margin: 0cm 4cm 3m 4cm;
	align-self: center;
	border-style: solid;
	border-width: 1px;
	padding: 15px;
}

/* SURVEY */
#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

/* GAME */

.controls { /*on start*/
/*    display: inline;*/
    font-size: 24px;
    padding: 0px 0px 0px 0px;
    opacity: 0;
}

.controls.in {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation: fadi 3s;
    -moz-animation: fadi 3s;
    opacity: 1;
}

.score {
    position: relative;
    height: 50;
    left: -webkit-calc(50% - 375px);
    left: -moz-calc(50% - 375px);
}

.time {
    position: relative;
    width: 170px;
    top: -28px;
    left: -webkit-calc(50% + 438px - 170px);
    left: -moz-calc(50% + 438px - 170px);
}

.level {
    position: relative;
    width: 170px;
    top: -206px;
    left: -webkit-calc(50% + 438px - 170px);
    left: -moz-calc(50% + 438px - 170px);
}

.buttons {
    position: relative;
    top: -20;
    text-align: center;
}

@-webkit-keyframes update {
    0%    { opacity: 0; }
    33%  { opacity: 1; }
    100%  { opacity: 0; }
}

@-moz-keyframes update {
    0%    { opacity: 0; }
    33%  { opacity: 1; }
    100%  { opacity: 0; }
}

.score_update {
    color: green;
    opacity: 0;
}

.score_update.animate {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation: update 5s;
    -moz-animation: update 5s;
}

.piano { /*on start*/
    width: 880px;
    height: 150px;
    position: relative;
    font-size: 12px;
    left: -moz-calc(50% - 375px);
    left: -webkit-calc(50% - 375px);
    padding: 0px 0px 10px 0px;
}

.btn {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    font-size: 16px;
    margin: 0px 0px 10px 0px;
}

/* KEYS */

@-webkit-keyframes nat_incorrect {
    0%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #ffa3a8;}
    100%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}

@-moz-keyframes nat_incorrect {
    0%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #ffa3a8;}
    100%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}

@-webkit-keyframes nat_correct {
    0%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #a1ffb1;}
    100%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}

@-moz-keyframes nat_correct {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #a1ffb1;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}

@-webkit-keyframes flat_incorrect {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
    5%  {background: #ff5c65;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}}

@-moz-keyframes flat_incorrect {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
    5%  {background: #ff5c65;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
}

@-webkit-keyframes flat_correct {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
    5%  {background: #33cc33;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
}

@-moz-keyframes flat_correct {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
    5%  {background: #33cc33;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
}

@-webkit-keyframes nat_incorrect {
    0%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #ffa3a8;}
    100%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}

@-moz-keyframes nat_incorrect {
    0%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #ffa3a8;}
    100%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}


.key-natural {
  display:inline-block;
  min-width: 40px;
  width: 40px;
  padding:5px 10px;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
  background-image: -moz-linear-gradient(top, #ffffff, #dedede);
  background-image: -ms-linear-gradient(top, #ffffff, #dedede);
  background-image: -o-linear-gradient(top, #ffffff, #dedede);
  background-image: linear-gradient(to bottom, #ffffff, #dedede);
  color: #000000;
  padding: 40px 10px 40px 10px;
  margin: 0px -2px 0px -2px;
  box-shadow: 10px 10px 5px #888888;
}

.key-natural:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #c4c4c4);
  background-image: -moz-linear-gradient(top, #ffffff, #c4c4c4);
  background-image: -ms-linear-gradient(top, #ffffff, #c4c4c4);
  background-image: -o-linear-gradient(top, #ffffff, #c4c4c4);
  background-image: linear-gradient(to bottom, #ffffff, #c4c4c4);
}

.key-natural.correct {
  -webkit-animation-timing-function: ease-in;
  -webkit-animation: nat_correct 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation: nat_correct 2s;
}

.key-natural.incorrect {
  -webkit-animation-timing-function: ease-in;
  -webkit-animation: nat_incorrect 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation: nat_incorrect 2s;
}

.key-flat {

  display:inline-block;
  min-width: 30px;
  width: 30px;
  padding:5px 10px;
  
  background: #000000;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #000000, #787878);
  background-image: -moz-linear-gradient(top, #000000, #787878);
  background-image: -ms-linear-gradient(top, #000000, #787878);
  background-image: -o-linear-gradient(top, #000000, #787878);
  background-image: linear-gradient(to bottom, #000000, #787878);
  padding: 7px 0px 7px 0px;
  margin: 0px -20px 0px -20px;
  z-index: 0; /*bring them to the front*/
  position: relative;
  top: -33px;

}

.key-flat:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #5e5d5e);
  background-image: -moz-linear-gradient(top, #000000, #5e5d5e);
  background-image: -ms-linear-gradient(top, #000000, #5e5d5e);
  background-image: -o-linear-gradient(top, #000000, #5e5d5e);
  background-image: linear-gradient(to bottom, #000000, #5e5d5e);
}

.key-flat.correct {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation: flat_correct 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation: flat_correct 2s;
}

.key-flat.incorrect {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation: flat_incorrect 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation: flat_incorrect 2s;
}

.key {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-family: Arial;
  font-size: 20px;
  text-decoration: none;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.key-flat.hint {
  background-color: cornflowerblue;
}

.key-natural.hint {
  background: #6495ED;
  background-image: -webkit-linear-gradient(top, #6495ED, #dedede);
  background-image: -moz-linear-gradient(top, #6495ED, #dedede);
  background-image: -ms-linear-gradient(top, #6495ED, #dedede);
  background-image: -o-linear-gradient(top, #6495ED, #dedede);
  background-image: linear-gradient(to bottom, #6495ED, #dedede);
}

.key:hover {
  text-decoration: none;
}


/* Changes dimensions based on device?
source:  http://www.studiopress.com/design/website-respond-mobile-devices.htm
other help for mobile support: http://www.studiopress.com/design/flexible-grid.htm
testing websites on a computer: http://mobiletest.me/ 
*/
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
