.body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  background-color: darksalmon;
  padding: 3px;
  /*Alternate way to center everythign
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  
  Alternate way #2
  position: absolute;
  top: 35%;
  left: 38%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/


  /*text-align: center;*/
}

/*define fade in animation*/
@-webkit-keyframes fadi {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-moz-keyframes fadi {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-webkit-keyframes start_back {
    from    { background-color: darksalmon; }
    to      { background-color: papayawhip; }
}

@-moz-keyframes start_back {
    from    { background-color: darksalmon; }
    to      { background-color: papayawhip; }
}

@-webkit-keyframes play_game {
    0%  {background-color: papayawhip}
    5%  {background-color: yellowgreen}
    75%  {background-color: gold}
    100%  {background-color: tomato}
}

@-moz-keyframes play_game {
    0%  {background-color: papayawhip}
    5%  {background-color: yellowgreen}
    75%  {background-color: gold}
    100%  {background-color: tomato}
}

.body.start {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation: start_back 3s;
    -moz-animation-timing-function: ease-in;
    -moz-animation: start_back 3s;
    background-color: papayawhip;
}

.body.play {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 60s;
    -webkit-animation: play_game 60s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 60s;
    -moz-animation: play_game 60s;
    background-color: papayawhip;
}

.settings {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* START */

.btn-start {
    text-align: center;
    background: #eba7a7;
    background-image: -webkit-linear-gradient(top, #eba7a7, #b82b2b);
    background-image: -moz-linear-gradient(top, #eba7a7, #b82b2b);
    background-image: -ms-linear-gradient(top, #eba7a7, #b82b2b);
    background-image: -o-linear-gradient(top, #eba7a7, #b82b2b);
    background-image: linear-gradient(to bottom, #eba7a7, #b82b2b);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    font-family: Arial;
    color: #ffffff;
    font-size: 57px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

.btn-start:hover {
    background: #f5bfbf;
    background-image: -webkit-linear-gradient(top, #f5bfbf, #bd3838);
    background-image: -moz-linear-gradient(top, #f5bfbf, #bd3838);
    background-image: -ms-linear-gradient(top, #f5bfbf, #bd3838);
    background-image: -o-linear-gradient(top, #f5bfbf, #bd3838);
    background-image: linear-gradient(to bottom, #f5bfbf, #bd3838);
    text-decoration: none;
}
.startup {
    font-size: 24px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.startup.out {
    -webkit-transition: -webkit-transform 2s ease-in-out;
    -webkit-transform: rotate3d(1, 0, 0, 0deg) translateZ(0px) translateX(-4000px) translateY(0px);
    -moz-transition: -moz-transform 2s ease-in-out;
    -moz-transform: rotate3d(1, 0, 0, 0deg) translateZ(0px) translateX(-4000px) translateY(0px);
}

/* GAME */

.controls { /*on start*/
    font-size: 18px;
    text-align: center;
    padding: 30px 0px 0px 0px;
    opacity: 0;
}

.controls.in {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation: fadi 3s;
    -moz-animation: fadi 3s;
    opacity: 1;
}

.piano { /*on start*/
    font-size: 12px;
    text-align: center;
    padding: 20px 0px 30px 0px;
    -webkit-transform: rotate3d(1, 0, 1, 60deg) translateZ(750px) translateX(-67px) translateY(-33px);
    -moz-transform: rotate3d(1, 0, 1, 60deg) translateZ(750px) translateX(-67px) translateY(-33px);
    
}

.piano.in {
    -webkit-transition: -webkit-transform 2s ease-in-out;
    -webkit-transform: rotate3d(1, 0, 1, 0deg) translateZ(0px) translateX(0px) translateY(0px);
    -moz-transition: -moz-transform 2s ease-in-out;
    -moz-transform: rotate3d(1, 0, 1, 0deg) translateZ(0px) translateX(0px) translateY(0px);
}

/* KEYS */

@-webkit-keyframes nat_incorrect {
    0%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #ffa3a8;}
    100%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}

@-moz-keyframes nat_incorrect {
    0%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #ffa3a8;}
    100%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}

@-webkit-keyframes nat_correct {
    0%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #a1ffb1;}
    100%  {background: #ffffff;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}

@-moz-keyframes nat_correct {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
    5%  {background: #a1ffb1;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
        background-image: -o-linear-gradient(top, #ffffff, #dedede);
        background-image: linear-gradient(to bottom, #ffffff, #dedede);}
}

@-webkit-keyframes flat_incorrect {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
    5%  {background: #ff5c65;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}}

@-moz-keyframes flat_incorrect {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
    5%  {background: #ff5c65;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
}

@-webkit-keyframes flat_correct {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
    5%  {background: #33cc33;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
}

@-moz-keyframes flat_correct {
    0%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
    5%  {background: #33cc33;}
    100%  {background: #000000;
        background-image: -webkit-linear-gradient(top, #000000, #787878);
        background-image: -moz-linear-gradient(top, #000000, #787878);
        background-image: -ms-linear-gradient(top, #000000, #787878);
        background-image: -o-linear-gradient(top, #000000, #787878);
        background-image: linear-gradient(to bottom, #000000, #787878);}
}

.key-natural {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
  background-image: -moz-linear-gradient(top, #ffffff, #dedede);
  background-image: -ms-linear-gradient(top, #ffffff, #dedede);
  background-image: -o-linear-gradient(top, #ffffff, #dedede);
  background-image: linear-gradient(to bottom, #ffffff, #dedede);
  color: #000000;
  padding: 40px 10px 40px 10px;
  margin: 0px -2px 0px -2px;
  box-shadow: 10px 10px 5px #888888;
}

.key-natural:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #c4c4c4);
  background-image: -moz-linear-gradient(top, #ffffff, #c4c4c4);
  background-image: -ms-linear-gradient(top, #ffffff, #c4c4c4);
  background-image: -o-linear-gradient(top, #ffffff, #c4c4c4);
  background-image: linear-gradient(to bottom, #ffffff, #c4c4c4);
}

.key-natural.correct {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation: nat_correct 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation: nat_correct 2s;
}

.key-natural.incorrect {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation: nat_incorrect 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation: nat_incorrect 2s;
}

.key-flat {
  background: #000000;
  background: #000000;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #000000, #787878);
  background-image: -moz-linear-gradient(top, #000000, #787878);
  background-image: -ms-linear-gradient(top, #000000, #787878);
  background-image: -o-linear-gradient(top, #000000, #787878);
  background-image: linear-gradient(to bottom, #000000, #787878);
  padding: 7px 0px 7px 0px;
  margin: 0px -20px 0px -20px;
  z-index: 0; /*bring them to the front*/
  position: relative;
  top: -33px;

}

.key-flat:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #5e5d5e);
  background-image: -moz-linear-gradient(top, #000000, #5e5d5e);
  background-image: -ms-linear-gradient(top, #000000, #5e5d5e);
  background-image: -o-linear-gradient(top, #000000, #5e5d5e);
  background-image: linear-gradient(to bottom, #000000, #5e5d5e);
}

.key-flat.correct {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation: flat_correct 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation: flat_correct 2s;
}

.key-flat.incorrect {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation: flat_incorrect 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation: flat_incorrect 2s;
}

.key {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-family: Arial;
  font-size: 20px;
  text-decoration: none;
}

.key:hover {
  text-decoration: none;
}

#footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
}