body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  background-color: papayawhip;
  padding: 3px;
  /*Alternate way to center everythign
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  
  Alternate way #2
  position: absolute;
  top: 35%;
  left: 38%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/


  /*text-align: center;*/
}

#settings {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#notes {
    font-size: 12px;
    text-align: center;
    padding: 20px 0px 30px 0px;
}

#controls {
    font-size: 18px;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 40px 0px 40px 0px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
